.homearea {
	MARGIN: 20px; VERTICAL-ALIGN: top; WIDTH: 95%
}
.homedatearea {
	VERTICAL-ALIGN: top; WIDTH: 170px; TEXT-ALIGN: left
}
.homectnt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 100%; PADDING-TOP: 0px
}
.hometopiccont {
	VERTICAL-ALIGN: top; hight: 90%;
}
.whatsnewbox {
	BORDER-RIGHT: #4d4742 1px solid; BORDER-TOP: #4d4742 1px solid; MARGIN: 0px 1px 10px; BORDER-LEFT: #4d4742 1px solid; WIDTH: 100%; BORDER-BOTTOM: #4d4742 1px solid
}
.whatsnewhead {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: url(../images/whatsnewhead.jpg) repeat-y 0px 100%; PADDING-BOTTOM: 2px; COLOR: #ff0000; PADDING-TOP: 2px; FONT-STYLE: italic
}
.whatsnewdtl {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; COLOR: #000000; PADDING-TOP: 0px
}
.whatsnewdtl A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.whatsnewdtl A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.whatsnewdtl A:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.impdatesbox {
	MARGIN: 0px 3px 10px; WIDTH: 100%
}
.impdateshead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #ffff00; PADDING-TOP: 2px; FONT-STYLE: italic
}
.imdatesdtl {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; COLOR: #ffffff; PADDING-TOP: 0px
}
.redbullet {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.hometopicbox {
	BORDER-RIGHT: #8b0015 1px solid; BORDER-TOP: #8b0015 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(../images/hometopicgrd.jpg) repeat-x 0px 100%; MARGIN: 2px 0px; BORDER-LEFT: #8b0015 1px solid; WIDTH: 239px; BORDER-BOTTOM: #8b0015 1px solid; HEIGHT: 140px
}
.hometopichead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 10px; BACKGROUND-COLOR: #CFF5F3
}
.hometopicdtl {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #000000; PADDING-TOP: 3px; HEIGHT: 10px
}
.hometopiccont2 {
	VERTICAL-ALIGN: top; TEXT-ALIGN: center
}
.hometopicsep2 {
	
}
.hometopicbox2 {
	BORDER-RIGHT: #8e3b07 1px solid; BORDER-TOP: #8e3b07 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(../images/hometopicgrd2.jpg) repeat-x 0px 100%; MARGIN: 2px 0px; BORDER-LEFT: #8e3b07 1px solid; WIDTH: 239px; BORDER-BOTTOM: #8e3b07 1px solid; HEIGHT: 120px
}
.hometopichead2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 15px; BACKGROUND-COLOR: #000000
}
.hometopicdtl2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #ffffff; PADDING-TOP: 3px; HEIGHT: 100px
}
A.hometopiclink:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; WIDTH: auto; COLOR: #ff0000; PADDING-TOP: 3px; FONT-STYLE: italic
}
A.hometopiclink:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; WIDTH: auto; COLOR: #ff0000; PADDING-TOP: 3px; FONT-STYLE: italic
}
A.hometopiclink:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; WIDTH: auto; COLOR: #ff0000; PADDING-TOP: 3px; FONT-STYLE: italic
}
A.hometopiclink2:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; COLOR: #f8c51e; PADDING-TOP: 0px; FONT-STYLE: italic
}
A.hometopiclink2:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; COLOR: #f8c51e; PADDING-TOP: 0px; FONT-STYLE: italic
}
A.hometopiclink2:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; COLOR: #f8c51e; PADDING-TOP: 0px; FONT-STYLE: italic
}
A.homedatelink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #674e94; FONT-STYLE: italic
}
A.homedatelink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #674e94; FONT-STYLE: italic
}
A.homedatelink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #674e94; FONT-STYLE: italic
}
.floatLeft {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
