.event_td {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.hr_dotted {
	BACKGROUND-IMAGE: url(../images/schedule/hr_dotted.gif)
}
.eventdefs_menu {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana,arial,geneva
}
.field {
	FONT-SIZE: 10px; FONT-FAMILY: verdana,arial,helvetica; HEIGHT: 19px
}
.schedule_hd {
	FONT-SIZE: 14px; COLOR: #6949a1; FONT-FAMILY: verdana,arial,helvetica
}
.schedule_sh {
	FONT-SIZE: 12px; COLOR: #6949a1; FONT-FAMILY: verdana,geneva,arial
}
.schedule_body {
	FONT-SIZE: 11px; COLOR: #b9b9b9; FONT-FAMILY: verdana,arial,helvetica
}
.schedule10 {
	FONT-SIZE: 10px; COLOR: #b9b9b9; FONT-FAMILY: verdana,arial,helvetica
}
.event_info {
	FONT-SIZE: 10px; COLOR: #b9b9b9; FONT-FAMILY: verdana,arial,helvetica
}
.event_info_sm {
	FONT-SIZE: 9px; COLOR: #b9b9b9; FONT-FAMILY: verdana,arial,helvetica
}
.error {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; BACKGROUND-COLOR: #cc0000
}
.yellow_sh {
	FONT-SIZE: 12px; COLOR: #6949a1; FONT-FAMILY: verdana,arial,helvetica
}
.detail_sh {
	FONT-SIZE: 11px; COLOR: #6949a1; FONT-FAMILY: verdana,geneva,arial
}
.white {
	COLOR: #ffffff
}
A.event_info {
	FONT-WEIGHT: normal; COLOR: #b9b9b9; TEXT-DECORATION: underline
}
A.event_info:hover {
	COLOR: #b9b9b9; BACKGROUND-COLOR: transparent
}
A.event_button:hover {
	BACKGROUND-COLOR: transparent
}
A.detail_sh:hover {
	COLOR: #6949a1; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
.backto {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #42bbff
}
.print_body {
	MARGIN: 10px; BACKGROUND-COLOR: #ffffff
}
.print_header {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #f8981c; FONT-FAMILY: verdana,geneva,arial
}
.print_day_sh {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana,geneva,arial
}
.print_sh_td {
	PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.print_border_td {
	PADDING-RIGHT: 10px; BORDER-TOP: #000000 1px dashed; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.print_event_sh {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana,arial,helvetica
}
.print_event_info {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: verdana,arial,helvetica
}
.print_detail {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana,geneva,arial
}
